<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{fragments :: head_fragment}"></th:block>
    <body>
        <th:block th:replace="~{fragments :: nav_fragment}"></th:block>
        <th:block th:replace="~{fragments :: header_fragment}"></th:block>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p th:text="${article.article}"></p>
                    </div>
                </div>
            </div>
        </article>
        <th:block th:replace="~{fragments :: footer_fragment}"></th:block>
        <th:block th:replace="~{fragments :: script_fragment}"></th:block>
    </body>
</html>
